@import "tailwindcss";

@theme {
  --color-kaeru-dark: #0a0d0a;
  --color-kaeru-card: #121612;
  --color-kaeru-green: #38ef7d;
  --color-kaeru-accent: #22c55e;
}

body {
  background-color: var(--color-kaeru-dark);
  color: #ffffff;
}